<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438346267641-rshs21al5hk44hhvq279cpl2q3j56jrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438346267641-rshs21al5hk44hhvq279cpl2q3j56jrg</string>
	<key>API_KEY</key>
	<string>AIzaSyAw70TDnkCYmyu5Zb2GV9X-RJzLxhrafWE</string>
	<key>GCM_SENDER_ID</key>
	<string>438346267641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamesmcdougall.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-5e7fa</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-5e7fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438346267641:ios:e6c90b5f442b526a081b28</string>
</dict>
</plist>